* {

    margin:0;

    padding:0;

    box-sizing:border-box;

}


body {

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    font-family:Arial, sans-serif;


    background-image:

    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),

    url("../images/money-bg.jpg");


    background-size:cover;

    background-position:center;

}



/* Register Card */

.register-container {


    width:420px;


    padding:40px;


    text-align:center;


    background:rgba(255,255,255,0.15);


    backdrop-filter:blur(15px);


    border-radius:25px;


    border:1px solid rgba(255,255,255,0.3);


    box-shadow:

    0 20px 40px rgba(0,0,0,0.5);


    animation:show 1s ease;

}



/* Logo */

.logo {

    font-size:60px;

    animation:bounce 2s infinite;

}



h1 {

    color:white;

    margin-top:15px;

    font-size:32px;

}



p {

    color:#ddd;

    margin:10px 0 25px;

}



/* Input Fields */

.input-box {

    margin-bottom:20px;

}



.input-box input {


    width:100%;


    padding:14px;


    border:none;


    outline:none;


    border-radius:30px;


    font-size:15px;


    background:white;


}



.input-box input:focus {


    box-shadow:

    0 0 10px #00c6ff;

}



/* Button */

button {


    width:100%;


    padding:14px;


    border:none;


    border-radius:30px;


    background:

    linear-gradient(
        45deg,
        #00c6ff,
        #0072ff
    );


    color:white;


    font-size:17px;


    cursor:pointer;


    transition:0.4s;


}



button:hover {


    transform:scale(1.05);


    box-shadow:

    0 10px 25px #00c6ff;


}



/* Login Link */

.login-link {


    margin-top:25px;


    color:white;


}



.login-link a {


    color:#00c6ff;


    text-decoration:none;


    font-weight:bold;

}



/* Animations */

@keyframes show {


    from {

        opacity:0;

        transform:translateY(80px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



@keyframes bounce {


    0%,100% {

        transform:translateY(0);

    }


    50% {

        transform:translateY(-15px);

    }

}